.body {
  /* this takes 80% from screen flex */
  flex: 0.8;
  /* transparent , background color, mixed color */
  background: linear-gradient(rgb(91, 87, 115), rgba(0, 0, 0, 1));
  height: 100vh;
  color: white;
  padding: 30px;
  overflow-y: overlay;
}

.body::-webkit-scrollbar {
  display: none;
}

.body_info {
  display: flex;
  align-items: flex-end;
  padding: 10px;
}
.body_info > img {
  height: 20vw;
  margin: 0 20px;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}
.body_info_text {
  flex: 1;
}

.body_info_text > h2 {
  font-size: 48px;
  margin-bottom: 10px;
}

.body_info_text > p {
  font-size: 14px;
}

.body_icons {
  display: flex;
  align-items: center;
}

/* targetting matrial ui icons */
.body_icons > .MuiSvgIcon-root {
  margin-right: 20px !important;
}

.body_shuffe {
  /* !importatnt <- apply this not others(overriding) */
  font-size: 80px !important;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.body_shuffe:hover {
  transition: 100ms transform ease-in;
  transform: scale(1.08);
}

.body_songs {
  /* by using - can reduce the parent margings/paddings if there */
  margin: 20px -30px;
}
